body {
  /* background-color:#85888b; */
  background-color: #fdf9ec;
  /* overflow: scroll; */
}

.root {
  overflow: hidden;
}

/* body {
  overflow-y: scroll;
} */

body::-webkit-scrollbar {
  background-color: #555;
  width: 8px;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

body::-webkit-scrollbar-track {
  background-color: #555;
}

body::-webkit-scrollbar-thumb {
  /* background-color: #ffd300; */
  /* background-color: #f37b23; */
  background-color: #FF8800;
  border-radius: 15px;
  border: transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


* {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  ;
}

a {
  font-family: 'Quicksand', sans-serif;
}

p,
label,
a {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

a {
  text-decoration: none;
  /* color: #ff5a00; */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: 32px;
  text-align: center;
  margin: 20px;
  margin-bottom: 20px;
}

nav {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  overflow: hidden;
}

footer {
  margin-top: 3rem;
}

ul {
  list-style: none;
  display: inline;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

.icons {
  width: 30px;
  height: 30px;
}

.projects {
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-weight: 600;
}

.text-info {
  font-size: 24px;
  text-align: center;
  display: flow-root;
  margin-bottom: 1rem;
  color: #ff5a00 !important;
}

.largerLinks {
  font-size: larger;
  margin-left: 20px;
}

.card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.float-right-custom {
  float: right !important;
  margin-bottom: 30px;
  margin-top: -10px;
}

.form-group {
  padding-left: 0px;
  width: 75%;
  padding-right: 0px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.row {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flow-root;
}

.navWidth {
  width: 100%;
}

.nav-link {
  display: block;
  padding: 0rem 0.5rem;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: rgb(115 218 255 / 100%) !important
}

.navbar-toggler {
  padding: 0rem 0.1rem;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-collapse {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 0.5rem !important;
}

.nav-link:hover,
.nav-link:active {
  color: #effbff !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #effbff !important;
  border: none !important;
}

.navbar-nav {
  font-weight: 100 !important;
  float: right !important;
  text-align: right !important;
  color: rgb(115 218 255 / 100%) !important;
}


.bg-dark {
  background-color: #004065 !important;
}

.navbar {
  padding: 0rem 1rem;
  overflow: hidden;
  top: 0;
  transition: top 0.6s;
}

.navbar-dark .navbar-brand {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  color: #ff5a00 !important;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif !important;
}

.logoCrypit {
  background-color: #ffffff00;
  width: 5rem;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-bottom: 2vh;
}

.logoAmbutrack {
  background-color: #ffffff00;
  width: 8rem;
  margin-left: 5vw;
  margin-bottom: 2vh;
}

.logoCartnerGolf {
  background-color: #ffffff00;
  width: 3rem;
  margin-left: 5vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.spiel {
  display: flex !important;
}

.btn-submit {
  float: right;
  mix-blend-mode: hard-light;
  margin-right: 12.5%;
  background-color: #004065;
  border-color: #d5dfe9;
}

.btn-submit:hover {
  background-color: #0051ff !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.07rem #0051ff80;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.07rem #0051ff !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-bottom: -0.5rem !important;
    margin-top: 0rem !important;
  }
}

.badges {
  display: inline-flex;
  width: 200px;
}



.logo {
  display: inline-flex;
  width: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}