body {
  background-color: #ecfdff;
}

body::-webkit-scrollbar {
  background-color: #555;
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #555;
}

body::-webkit-scrollbar-thumb {
  background-color: #0074b7;
  border-radius: 15px;
  border: transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.navWidth {
  width: 100%;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  ;
}

a {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: 32px;
  text-align: center;
  margin: 20px;
  margin-bottom: 20px;
}

nav {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

.largerLinks {
  font-size: larger;
  margin-left: 20px;
}

.card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.float-right-custom {
  float: right !important;
  margin-bottom: 30px;
  margin-top: -10px;
}

.form-group {
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
}

.row {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flow-root;
}

.navbar-nav {
  font-weight: 100 !important;
  float: right !important;
  margin-right: 50% !important;
  margin-inline-start: 25rem;
}

.bg-dark {
  background-color: #004065 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar {
  padding: 0rem 1rem;
  
}

.navbar-dark .navbar-brand {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif !important;
}

.logoCrypit {
  background-color: #ffffff00;
  width: 5rem;
  margin-top: 2vh;
  margin-left: 2vh;
}

.logoAmbutrack {
  background-color: #ffffff00;
  width: 8rem;
  margin-left: 5vw;
}

.logoCartnerGolf {
  background-color: #ffffff00;
  width: 3rem;
  margin-left: 5vw;
  margin-top: 1vh;
}
